* {
  margin: 0;
  padding: 0;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 2rem;
}

header nav a {
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
}

header nav img.logo {
  height: 50px;
  width: 50px;
}

nav ul {
  margin-left: auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav ul .nav-items {
  font-size: 1.2rem;
}

.active {
  text-decoration: underline blue 2px;
}
